body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.7;
	color: #000;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
	transition: 0.3s;
}

h1 {
	font-size: 30px;
	margin-bottom: 25px;
	text-align: center;
}

a:hover {
	color: #9D714A;
	transition: 0.3s;
}

.content {
	margin: 50px auto;
	max-width: 800px;
}

.text-block{
	margin-bottom: 30px;
	text-align: justify
}

.highlight{
	background-color: #333;
    color: white;
}

.highlight-link{
	background-color: #9D714A;
    color: white;
}

img{
	width: 110px;
	border-radius: 35px;
	margin: 10px 15px 0 0;
}

table {
	margin-top: 30px;
	float: right;
	font-size: 16px;
}

table tr td:first-child {
	padding-right: 5px;
}

@media (max-width: 360px) {
	h1 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	
	.content {
		margin: 20px auto;
	}

	.text-block {
		font-size: 18px;
		line-height: 28px;
	}
	
	img{
		display: none;
	}
	
	table {
		float: none;
	}
}
